<!DOCTYPE html>
<html>
    <head>
        <title>Django-Appointments Test Site</title>
    </head>
    <body>
        <nav>
        {% block subnav %}
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="">Create a Calendar</a></li>
                    <li><a href="">Your Calendars</a></li>
                {% endif %}

                    <li><a href="">All Calendars</a></li>
                </ul>
        {% endblock %}
        </nav>

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

    </body>
</html>
